extends ./../layout/admin

block styles 
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.css")

block content 
  div(class="py-10")
    h1(class="text-4xl my-10 font-extrabold text-center") Inmobiliaria
      span(class="font-normal") Yaracuy
    h2(class="text-center text-2xl font-extrabold")= page

    div(class="bg-white shadow py-8 px-4 md:px-10 rounded-md mx-auto max-w-4xl my-10")
      form(id="images" class="dropzone border-dashed border-2 w-full min:h-96 h-auto rounded-md flex-col justify-center items-center" method="POST" action=`/properties/image/${property.id}`)
        input(id="csrf" type="hidden" name="_csrf" value= csrfToken)
        
      button(id="publish" class="mt-5 w-full py-3 bg-indigo-600 hover:bg-indigo-700 rounded-md text-white font-bold uppercase cursor-pointer") Publicar Propiedad

block scripts 
  script(src="/js/addImage.js")
