header(class="bg-indigo-600 p-4")
  div(class="container mx-auto flex justify-between items-center")
    a(href="/")
      h1(class="text-2xl text-white font-extrabold text-center") Inmobiliaria 
        span(class="font-normal") Yaracuy
    nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden")
      a(href="/properties") Mis Propiedades
      a(href="#") Perfil
      form(action="/auth/logout" method="POST") 
        input(type="hidden" name="_csrf" value= csrfToken)
        input(type="submit" class="bg-indigo-800 py-2 px-6 rounded-md cursor-pointer" value="Cerrar sesión")