header(class="bg-indigo-600 p-4")
  div(class="container mx-auto flex justify-between items-center")
    a(href="/")
      h1(class="text-2xl text-white font-extrabold text-center") Bienes 
        span(class="font-normal") Raices
    nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white hidden")
      a(href="/properties") Mis Propiedades
      a(href="#") Perfil
      a(href="/auth/login" class="bg-indigo-800 py-2 px-6 rounded-md") Cerrar sesión