extends ./../layout/index
block content 
  div(class="py-10")
    h1(class="text-4xl my-10 font-extrabold text-center") Bienes
      span(class="font-normal") Raices
    h2(class="text-center text-2xl")= page

    div(class="mt-8 mx-auto max-w-md")
      div(class="bg-white py-8 px-4 shadow rounded-md")
        form(class="space-y-5")
          div
            label(class="block text-sm uppercase text-gray-500 mb-3 font-bold" for="email") Correo
            input(id="email" class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" placeholder="luis@gmail.com" type="email" name="email")
          div
            label(class="block text-sm uppercase text-gray-500 mb-3 font-bold" for="password") Contraseña
            input#password(class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400" placeholder="Contraseña" type="password" name="password")
          div(class="flex items-center justify-between")
            a(class="text-gray-500 text-sm" href="/auth/signup") ¿No tienes cuenta? Crear cuenta
            a(class="text-gray-500 text-sm" href="/auth/recovery") Olvidé mi contraseña             
          input(class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-bold py-3 cursor-pointer rounded-md" type="submit" value="Iniciar sesión")