extends ./../layout/index
block content 
  div(class="py-10")
    h1(class="text-4xl my-10 font-extrabold text-center") Inmobiliaria
      span(class="font-normal") Yaracuy
    h2(class="text-center text-2xl")= page

    p(class="text-xl font-bold text-center my-10")= message